$font-stack: Lato;
$primary-color: #01996D;
$font-size: 20px;


/////css resset///////
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
body {
    p {
        font: $font-size $font-stack;
        color: $primary-color;
        @extend %extend-test;
    }
}

%extend-test {
    padding: 0;
    margin: 0;
}
*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button {
    width: auto;
    background-color: $primary-color;
    color: #FFFFFF;
    padding: 13px 50px;
    font: 20px $font-stack;
    line-height: 25px;
    white-space: nowrap;
    font-weight: 800;
    cursor: pointer;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}

h1 {
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    color: $primary-color;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header {
    position: fixed;
    top: 0;
    height: 85px;
    width: 100vw;
    background: #FFFFFF;
    z-index: 100;

    .inner {
        margin: 17px 275px;
        height: 51px;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .text-logo {
            font: 30px $font-stack;
            line-height: 51px;
            color: $primary-color;
            width: 10%;
            margin: 0;
            font-weight: 800;
        }

        .menu {
            width: 65%;
            padding: 20%;
        }

        a {
            width: 25%;
            float: left;
            text-decoration: none;
            line-height: 51px;
            font: 20px $font-stack;
            font-weight: 500;
            cursor: pointer;
        }

        .signin {
            width: 10%;
        }
    }
}

.main {
    width: 70vw;
    margin: 0 auto 100px;
}

.green {
    background-color: #245852;
}

.main-block {
    background-image: url(/img/BG.png);
    background-size: contain;
    width: 100vw;
    height: 900px;
    position: relative;
    margin-top: 85px;

    .main-block-inner {
        width: 440px;
        position: absolute;
        top: 275px;
        left: 275px;
    }

    h1 {
        color: $primary-color;
        font-family: Georgia;
        font-style: normal;
        font-weight: bold;
        font-size: 65px;
        line-height: 74px
    }

    p {
        padding: 30px 0;
        font-family: $font-stack;
        font-size: 20px;
        line-height: 31px;
    }
}

.how-it-works {
    .hit-1 {
        margin: 150px 0;
    }

    h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 157%;
    }

    .columns {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: auto;

        .row-1 {
            width: 45%;
        }

        .row-2 {
            width: 45%;

            p {
                font-family: Lato;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                color: #424242;
            }
        }
    }
}

.step-img {
    width: 390px;
    height: 492px;
    background: no-repeat;
    background-size: contain;
}

.steps>div {
    width: 390px;
    padding-top: 100px;
}

.steps {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;

    *::before {
        position: absolute;
        top: -100px;
        left: 0;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 150px;
        color: $primary-color;
        opacity: .3;
        line-height: 150%;
        text-align: center;
    }

    *::after {
        position: absolute;
        top: 32px;
        left: 100px;
        font-family: Georgia;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;
        text-align: center;
    }

    p {
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
    }

    .step-1 {
        .step-img {
            background-image: url(/img/step-1.png);
            margin-top: 60px;
        }

        position: relative;

        &::before {
            content: "01";
        }

        &::after {
            content: "Personalize";
        }
    }

    .step-2 {

        .step-img {
            background-image: url(/img/step-2.png);
            margin-top: 37px;
        }

        margin-top: 300px;
        position: relative;

        &::before {
            content: "02";
        }

        &::after {
            content: "Write & Understand";
            left: unset;
            right: 0;
        }
    }

    .step-3 {
        .step-img {
            background-image: url(/img/step-3.png);
            margin-top: 48px;
        }

        margin-top: 60px;
        position: relative;

        &::before {
            content: "03";
        }

        &::after {
            content: "Alivio!";
        }
    }
}

.video-block {
    position: relative;

    .clear {
        clear: both;
    }

    padding: 150px 0;
}

.video-block-inner {
    margin: 0 200px;
    height: fit-content;

    .inner-column-1 {
        width: 40%;
        margin: auto 0;
        height: 100%;

        h1,
        p {
            color: #FFFFFF;
        }

        p {
            padding: 60px 0;
        }
    }

    .inner-column-2 {
        width: 895.84px;
        height: 516.11px;
        background-image: url(/img/video.png);
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .play {
            position: absolute;
            top: calc(50% - 40px);
            left: calc(50% - 40px);


        }
    }


}
